<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Magento_Backend::marketing_competition" title="Campaigns" translate="title"
             module="Magento_Backend" sortOrder="30" parent="Magento_Backend::marketing"
             resource="Magento_Backend::marketing_communications"/>
        <add id="Theiconnz_Campaigns::campaign" title="Campaigns" translate="title" module="Theiconnz_Campaigns"
             parent="Magento_Backend::marketing_competition" sortOrder="10" resource="Theiconnz_Campaigns::campaign"
             action="campaigns/campaign/" />
        <add id="Theiconnz_Campaigns::new_campaign" title="New Campaigns" translate="title" module="Theiconnz_Campaigns"
             parent="Magento_Backend::marketing_competition" sortOrder="10" resource="Theiconnz_Campaigns::campaign"
             action="campaigns/campaign/new" />
        <add id="Theiconnz_Campaigns::campaign_results" title="Campaign Results" translate="title" module="Theiconnz_Campaigns"
             parent="Magento_Backend::marketing_competition" sortOrder="10" resource="Theiconnz_Campaigns::campaign"
             action="campaigns/results/index" />
    </menu>
</config>
