<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Theiconnz\Campaigns\Api\Data\CampaignSearchResultsInterface"
                type="Theiconnz\Campaigns\Model\CampaignSearchResults" />
    <preference for="Theiconnz\Campaigns\Api\Data\CampaignInterface" type="Theiconnz\Campaigns\Model\Campaign" />
    <preference for="Theiconnz\Campaigns\Api\CampaignRepositoryInterface" type="Theiconnz\Campaigns\Model\CampaignRepository" />
    <preference for="Theiconnz\Campaigns\Api\Data\CampaignSearchResultsInterface"
                type="Theiconnz\Campaigns\Model\CampaignSearchResults" />

    <preference for="Theiconnz\Campaigns\Api\Data\ResultsSearchResultsInterface"
                type="Theiconnz\Campaigns\Model\ResultsSearchResults" />
    <preference for="Theiconnz\Campaigns\Api\Data\ResultsInterface" type="Theiconnz\Campaigns\Model\Results" />

    <preference for="Theiconnz\Campaigns\Api\ResultsRepositoryInterface" type="Theiconnz\Campaigns\Model\ResultsRepository" />
    <preference for="Theiconnz\Campaigns\Api\Data\ResultsSearchResultsInterface"
                type="Theiconnz\Campaigns\Model\ResultsSearchResults" />


    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="campaigns_campaign_listing_data_source"
                      xsi:type="string">Theiconnz\Campaigns\Model\ResourceModel\Campaign\Grid\Collection</item>
                <item name="campaigns_results_listing_data_source"
                      xsi:type="string">Theiconnz\Campaigns\Model\ResourceModel\Results\Grid\Collection</item>
            </argument>
        </arguments>
    </type>


    <type name="Theiconnz\Campaigns\Model\ResourceModel\Campaign\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">campaign</argument>
            <argument name="eventPrefix" xsi:type="string">campaigns_campaign_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">campaign_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Theiconnz\Campaigns\Model\ResourceModel\Campaign</argument>
        </arguments>
    </type>


    <type name="Theiconnz\Campaigns\Model\ResourceModel\Results\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">campaign_results</argument>
            <argument name="eventPrefix" xsi:type="string">campaigns_results_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">results_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Theiconnz\Campaigns\Model\ResourceModel\Results</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Theiconnz\Campaigns\Api\Data\CampaignInterface"
                      xsi:type="string">Theiconnz\Campaigns\Api\CampaignRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Theiconnz\Campaigns\Api\Data\ResultsInterface"
                      xsi:type="string">Theiconnz\Campaigns\Api\ResultsRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Theiconnz\Campaigns\Api\Data\CampaignInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">campaign</item>
                    <item name="identifierField" xsi:type="string">camp_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Theiconnz\Campaigns\Api\Data\ResultsInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">campaign_results</item>
                    <item name="identifierField" xsi:type="string">r_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Theiconnz\Campaigns\Api\Data\CampaignInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader"
                              xsi:type="string">Theiconnz\Campaigns\Model\ResourceModel\Campaign\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator"
                              xsi:type="string">Theiconnz\Campaigns\Model\ResourceModel\Campaign\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater"
                              xsi:type="string">Theiconnz\Campaigns\Model\ResourceModel\Campaign\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Theiconnz\Campaigns\Api\Data\CampaignInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Theiconnz\Campaigns\Api\Data\ResultsInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Theiconnz\Campaigns\Model\Api\SearchCriteria\CollectionProcessor\CampaignFilterProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">
                    Theiconnz\Campaigns\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\CampaignStoreFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Theiconnz\Campaigns\Model\Api\SearchCriteria\CampaignCollectionProcessor"
                 type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Theiconnz\Campaigns\Model\Api\SearchCriteria\CollectionProcessor\CampaignFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Theiconnz\Campaigns\Model\CampaignRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Theiconnz\Campaigns\Model\Api\SearchCriteria\CampaignCollectionProcessor</argument>
            <argument name="hydrator" xsi:type="object">Magento\Framework\EntityManager\AbstractModelHydrator</argument>
        </arguments>
    </type>
</config>
