.c_bg_color_primary{
    background-color: #5c2d67;
}

.c_bg_color_primary_light{
    background-color: #E7E0E8;
}

.c_bg_color_secondary{
    background-color: rgba(92, 45, 103, 0.6);
}

.c_btn_primary,
.c_btn_primary:visited{
    background-color: #5c2d67;
    color: #fff;
    border-radius: 3px;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 40px;
    max-width: 200px;
    text-transform: uppercase;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: #5c2d67;
    margin: 10px 0;
}

.c_btn_primary:hover{
    background-color: #ffffff;
    color: #5c2d67;
    border:1px solid #5c2d67;
    text-decoration: none;
}

.c_btn_primary_light,
.c_btn_primary_light:visited{
    background-color: rgba(92, 45, 103, 0.6);
    color: #fff;
    border-radius: 3px;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 40px;
    max-width: 200px;
    text-transform: uppercase;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(92, 45, 103, 0.6);
    margin: 10px 0;
}

.c_btn_primary_light:hover{
    background-color: #ffffff;
    color: rgba(92, 45, 103, 0.6);
    border-color: rgba(92, 45, 103, 0.6);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
}


.c-btn-secondary,
.c-btn-secondary:visited{
    background-color: #4aad91;
    color: #fff;
    border-radius: 3px;
    border-color: #4aad91;
    height: 71px;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: #4aad91;
    margin: 10px 0;
}

.c-btn-secondary:hover{
    background-color: #ffffff;
    color: #4aad91;
    border:1px solid #4aad91;
    text-decoration: none;
}

.c_border{
    border: 1px solid #333333;
}

.c_color_light{
    color: #808080;
}

.c_color_primary{
    color: #5c2d67;
}

.c-inline-content{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.fonts-14-desktop{
    font-size: 14px;
    line-height: 17px;
}

.fonts-20-desktop{
    font-size: 20px;
    line-height: 24px;
}

.fonts-25-desktop{
    font-size: 25px;
    line-height: 30px;
}

.font-weight-100{
    font-weight: 100;
}

.font-weight-300{
    font-weight: 300;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-700{
    font-weight: 700;
}


.campaign-data-form-container{
    max-width: 600px;
    margin:0 0;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}


@media screen and (max-width: 320px) {
    .c_btn_primary,
    .c-btn-secondary,
    .c_btn_primary_light
    {
        padding: 10px 5px;
    }

}


@media screen and (min-width: 320px) {
    .campaign-data-form-container{
        padding: 20px 20px;
    }
}

@media screen and (max-width: 567px) {
    .c-inline-content {
        margin: 30px 0px;
        align-items: center;
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    .campaign-data-form-container{
        max-width: 100%;
        text-align: justify;
    }
}

@media screen and (min-width: 768px) {
    .campaign-data-form-container {
        padding: 40px 40px;
        margin: 0 auto;
    }
}
